/* Header */
.heading {
    display: flex;
    flex-direction: column;
    content-justify: center;
    margin-bottom: 3rem;
}

.header h1 {
    width: 11rem;
    margin: 2rem auto;
    text-decoration: line-through;
    text-shadow: 0px 0px 1px black;
    border: none;
}

.header h1:hover {
    text-decoration: none;
}

.header ul {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header li,
.header a {
    color: black;
}

.header h1:hover,
.header li:hover,
.header a:hover {
    cursor: pointer;
    color: #009A94;
}

.login {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    margin-bottom: -2.55rem;
}

.login input {
    background-color: #eeeeee;
    border: 1px solid #009A94;
    font-size: 0.8rem;
    height: 1.2rem;
    line-height: 1.2rem;
    padding-left: 0.2rem;
    width: 10rem;
    box-shadow: 0 0 2px gray;
}

.login input:focus {
    box-shadow: 0 0 1px black;
    border: 1px solid #eeeeee;
}
/* About */
.about {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(172,194,204,0.6);
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about div {
    width: 50%;
    background-color: rgba(172,194,204,0.9);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0 0 5px #009a94;
    border-radius: 3px;
}

.about div>h2 {
    text-align: center;
    text-decoration: line-through;
}

.about button {
    text-decoration: none;
    color: #344653;
    line-height: 1.5;
    width: 4rem;
    height: 1.4rem;
    display: block;
    line-height: 1.4rem;
    margin: 0.5rem auto
}


.about button:hover {
    background-color: #009a94;
    border: 1px solid white;
    color: white;
}

